.portfolio-min {
  margin: 4rem auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #424242;
  border-radius: 20px;
  padding: 2rem;
}

.portfolio-min-cols {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.portfolio-min-col {
  display: flex;
  flex-direction: column; 
  gap: 0.5rem;
}

.portfolio-min-col h4,
.portfolio-min-col p {
  margin: 0;
}
