.main {
  padding: 30px;
  background-image: url(../../assets/inv-bg.png);
  height: 1600px;
  background-repeat: no-repeat;
  background-position: right 30%;
  width: 100%;
}

main > h1 {
  margin: 0;
  font-size: 2.4rem;
}

.main-list {
  margin-top: 46px;
}

.main-list > li {
  margin-block: 10px;

}

.main-list > li::marker {
  color: #298948;
  font-size: 1.8rem;
}