@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
* {
  box-sizing: border-box;
}

a {
  color: inherit; 
  text-decoration: none; 
}

a:hover,
a:focus,
a:active {
  color: inherit;
  text-decoration: none; 
}

.container {
  width: 100vh;
  margin: 45px 40px;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: #282b2e;
  color: white;
  padding: 0;
  box-sizing: border-box;
}

.welcome {
  font-size: 48px;
}

.app-name {
  font-size: 64px;
  font-weight: bold;
}

.error {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.portfolio {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

:root {
  --section-max-width: 1440px;
  --section-padding: 1.5rem;
}

.section-container {
  max-width: var(--section-max-width);
  padding-left: var(--section-padding);
  padding-right: var(--section-padding);
  margin: 0 auto;
}

.section-flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.intro-section-1 {
  padding: 8rem 0;
  flex-direction: column;
}

.intro-section-1-h1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 120%;
}

.intro-section-1-p {
  max-width: 800px;
  text-align: center;
}

.try-section-1 {
  padding: 8rem 0;
  flex-direction: column;
}

.try-section-1-btn {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.pros-section-1 {
  padding: 8rem 0;
  flex-direction: column;
}

.pros-section-cols {
  display: flex;
  flex-direction: row;
}

.pros-section-div {
  padding-left: 1rem;
  padding-right: 1rem;
}

.pros-section-div > h3 {
  display: flex;
  justify-content: center;
}

.pros-section-div > p {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.advanced-section {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  gap: 2rem;
}

.advanced-section > h1 {
  margin: 0 auto;
}

.advanced-level-1 {
  background: lightblue;
  padding: 1rem;
}

.advanced-level-2 {
  display: flex;
  gap: 1rem;
}

.advanced-level-2-left {
  flex: 1;
  background: lightgreen;
  padding: 1rem;
}

.advanced-level-2-right {
  flex: 1;
  background: lightcoral;
  padding: 1rem;
}

.advanced-level-3 {
  display: flex;
  gap: 1rem;
}

.advanced-level-3-left {
  flex: 0 0 20%;
  background: lightyellow;
  padding: 1rem;
}

.advanced-level-3-center {
  flex: 0 0 50%;
  background: lightpink;
  padding: 1rem;
}

.advanced-level-3-right {
  flex: 0 0 30%;
  background: lightgray;
  padding: 1rem;
}
