@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
* {
  box-sizing: border-box;
}

a {
  color: inherit; 
  text-decoration: none; 
}

a:hover,
a:focus,
a:active {
  color: inherit;
  text-decoration: none; 
}

.container {
  width: 100vh;
  margin: 45px 40px;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: #282b2e;
  color: white;
  padding: 0;
  box-sizing: border-box;
}

.welcome {
  font-size: 48px;
}

.app-name {
  font-size: 64px;
  font-weight: bold;
}

.error {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.portfolio {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.home-container-1 {
  max-width: 1440px;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  flex-direction: column;
}

.home-container-1-p {
  max-width: 640px;
  text-align: center;
  /* padding-left: 1.5rem;
  padding-right: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  flex-direction: column; */
}