header {
  background-color: #2a323e;
}

.navbar-logo {
  width: 200px;
  margin-left: 20px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin: 0 auto;
}

nav > span {
  font-weight: 700;
  font-size: 26px;
  margin-right: 20px;
}
