header {
  background-color: #2a323e;
}

.navbar-logo {
  width: 200px;
  margin-left: 20px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav > span {
  font-weight: 700;
  font-size: 26px;
  margin-right: 20px;
}
