.assets {
  display: flex;
  flex-wrap: wrap;
  margin: 4rem 0;
}
 
.assets label {
  order: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
  margin-right: 0.2rem;
  cursor: pointer;
  background-color: #383838;
  font-weight: bold;
  transition: background ease 0.3s;
}
 
.assets .tab {
  order: 9;
  flex-grow: 1;
  width: 100%;
  height: 100%;
  display: none;
  /* padding: 1rem; */
  /* background: #fff; */
  /* padding: 20px; */
  /* box-shadow: -10px 10px 0px 0px black; */
}
 
.assets input[type="radio"] {
  display: none;
}
 
.assets input[type="radio"]:checked + label {
  background: #4d4d4d;
}
 
.assets input[type="radio"]:checked + label + .tab {
  display: block;
}
 
@media (max-width: 465px) {
  .assets .tab,
  .assets label {
   order: initial;
  }
 
  .assets label {
    width: 100%;
  }
}
 
.assets-section {
  box-sizing: border-box;
  font-weight: 300;
  line-height: 1.5;
  max-width: 60rem;
  margin: 0 auto;
  font-size: 110%;
  display: flex;
  justify-content: center;
  align-items: center;
}

table {
  border: 1px solid #111111;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}

table tr {
  background-color: #383838;
  border: 1px solid #111111;
  padding: .35em;
}

table th,
table td {
  padding: .625em;
  text-align: center;
}

table th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }
  
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  table tr {
    border-bottom: 3px solid #111111;
    display: block;
    margin-bottom: .625em;
  }
  
  table td {
    border-bottom: 1px solid #111111;
    display: block;
    font-size: .8em;
    text-align: right;
  }
  
  table td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  table td:last-child {
    border-bottom: 0;
  }
}
